name: Model Retraining
on:
  push:
    branches: [ "main", "master" ]

jobs:
  retrain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn

      - name: Run training script
        working-directory: ./MLProject
        run: |
          # Membersihkan semua variabel MLflow yang tersisa di environment
          unset MLFLOW_RUN_ID
          unset MLFLOW_TRACKING_URI
          unset MLFLOW_EXPERIMENT_ID
          # Menjalankan script secara langsung
          python modelling.py