name: Model Retraining
on:
  push:
    branches: [ "main", "master" ]

jobs:
  retrain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install mlflow pandas scikit-learn

      - name: Run mlflow project
        run: |
          # Menghapus variabel environment agar tidak terjadi error "Run Not Found"
          unset MLFLOW_RUN_ID
          unset MLFLOW_TRACKING_URI
          # Menjalankan MLProject menggunakan environment lokal server
          mlflow run MLProject --env-manager local

      - name: Get latest MLflow run_id
        run: |
          echo "Retraining finished successfully"